{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h1>Your Charging Stations</h1>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Address</th>
            <th>Charger</th>
            <th>Status</th>
            <th colspan="3" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for charging_station in charging_stations %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ charging_station.address }}</td>
            <td>{{ charging_station.charger }}</td>
            <td>
                <form method="post" class="form-inline d-flex align-items-center">
                    {% csrf_token %}
                    <input type="hidden" name="charging_station_id" value="{{ charging_station.id }}">
                    <select name="station_status" class="form-control">
                        <option value="activate" {% if charging_station.station_status == 'Available' %} selected {% endif %} style="color: green;">Activate</option>
                        <option value="off" {% if charging_station.station_status == 'off' %} selected {% endif %} style="color: red;">Off</option>
                    </select>
                    <button type="submit" class="btn btn-primary ml-2">Apply</button>
                </form>
            </td>
            <td class="text-center">
                <a href="{% url 'open_orders_by_id' charging_station.id %}" class="btn btn-info">Open Orders</a>
            </td>
            <td class="text-center">
                <a href="{% url 'order_history_by_id' charging_station.id %}" class="btn btn-warning">Order History</a>
            </td>
            <td class="text-center">
                <form method="post" onsubmit="return confirm('Are you sure you want to delete this charging station?');">
                    {% csrf_token %}
                    <input type="hidden" name="charging_station_id" value="{{ charging_station.id }}">
                    <input type="hidden" name="delete" value="true">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'Create A Charging Station' %}">Add A New Charging Station</a>

{% endblock %}
