{% extends 'base.html' %}

{% block content %}
<h1>Order History</h1>

<a href="{% url 'export_order_history_to_csv' %}" class="btn btn-primary mb-3">Export to CSV</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Order Date</th>
            <th>Order Start</th>
            <th>Order Finish</th>
            <th>Charging Station Address</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.0 }}</td>
            <td>{{ order.1 }}</td>
            <td>{{ order.2 }}</td>
            <td>{{ order.3 }}</td>
            <td>{{ order.4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
